body{
    background-color: rgb(241, 112, 112);
    font-family: sans-serif;
}

header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

nav{
    display: inline-block;
    padding: 1rem;
    position: absolute;
    right: 13px;
}

nav a{
    background-color:rgb(35, 134, 187);
    color: white;
    border-radius: 0.5px;
    border: 2px solid black;
    text-decoration: none;
}

a[href="#"]{
    background-color: #9cff32;
}

main img{
    width: 100%;
    height: auto;
}

h4{
    margin-top: -4px;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 3px;
}

aside img{
    height: 200px;
    width: 180px;
    position: absolute;
    vertical-align: top;
}

section{
    color: rgb(0, 0, 0);
    margin-left: 200px;
    font-size: 15px;
}

h6{
    font-size: 20px;
}